@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overpass&family=IBM+Plex+Mono&family=Story+Script&family=Kanit&Poppins&family=Cormorant+Garamont&family=Quicksand&family=Exo+2&Changa+One&display=swap');

:root {
  --fonte-padrao: 'IBM Plex Mono';
}

body {
  color: black;
  font-family: var(--fonte-padrao);
  margin: 15px;
} 

header {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background: black;
  border: solid black;
  border-radius: 10px;
}

.adminPainel {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  box-sizing: border-box;
  margin-top: 3%;
  width: 100%;
  overflow-x: hidden;
}

.adminPainel h4 {
  line-height: 0;
}

.adminOptions {
  border: solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 15px;
  flex-wrap: wrap;
}

.adminOptions input {
  padding: 3px;
  border: solid black;
  border-radius: 10px;
}

.adminOptions .roles {
  display: flex;
  gap: 15px;
}

.adminOptions .roles button {
  width: 35px;
  height: 35px;
  padding: 3px;
  border: solid black;
  border-radius: 90px;
  background: none;
}

.divOptions2 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.divOptions2 #deleteUser {
  border: solid red;
  background: none;
  border-radius: 90px;
  width: 35px;
  height: 35px;
  padding: 2px;
}

.divOptions2 #deleteUser svg {
  width: 100%;
  height: 100%;
}

.divOptions2 #deleteUser svg path {
  stroke: red;
}

.divOptions2 #invalidarToken {
  border: solid orange;
  background: none;
  padding: 0;
  border-radius: 90px;
  width: 35px;
  height: 35px;
}

.divOptions2 #invalidarToken svg {
  width: 100%;
  height: 100%;
}

.divOptions2 #deleteAllChats {
  border: solid black 1.5px;
  color: orangered;
  font-size: 10px;
  width: 30%;
  margin: 5px;
  border-radius: 10px;
  background: white;
}

.data {
  border: solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
}

.data #dataId {
  display: flex;
  gap: 10px;
}

.data #dataId #partId {
  color: orangered;
}

.data #dataId button{
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.data #dataId button:hover {
  transform: scale(1.1);
}

.data #dataId button svg {
  width: 100%;
  height: 100%;
}

.data #role {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 5px;
}

.data #role button {
  width: 35px;
  height: 35px;
  border: solid black;
  background: none;
  border-radius: 90px;
}

.data #role button svg {
  width: 100%;
  height: 100%;
}

.data-ban {
  border: solid black;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-ban-btns {
  display: flex;
  gap: 10px;
  margin: 15px;
}

.data-ban-btns button {
 font-size: 11px;
 border: solid black;
 border-radius: 10px;
 background: white;
 padding: 5px;
}

.adminPainel .roles button {
  width: 30px;
  height: 30px;
}

.adminPainel #roles svg {
  width: 100%;
  height: 100%;
}
