* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-weight: 500;
}

body {
    padding: 10px;
}

header {
    border: solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
}

header h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

header h2 svg {
    width: 48px;
    height: 48px;
}

#role {
    border: solid black;
    border-radius: 90px;
    padding: 8px;
    background: white;
    width: 40px;
    height: 40px;
}

#role svg {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 5%;
    justify-content: space-around;
}

.divisoria {
    width: 500px;
    background: black;
}

.updateDataInputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.updateDataDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.updateDataDiv input {
    padding: 3px;
    border-radius: 10px;
    border: solid black;
}

.updateDataDiv button {
    padding: 3px;
    border-radius: 10px;
    border: solid black;
}

.userData {
    display: flex;
    gap: 15px;
    align-items: center;
}

.tools {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100dvh;
}

@media screen and (max-width: 768px){
    .updateDataInputs {
        flex-direction: column;
    }

    #divisoria {
        height: 0;
        width: 300px;
    }
}