* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Momo Trust Display';
}

body {
    padding: 20px;
    height: 100dvh;
    width: 100%;
    background: url('assets/fundo.jpeg');
    background-size: cover;
}

.fases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    align-items: center;
    top: 50%;
    gap: 60px;
    transform: translateY(-30%);
    justify-self: center;
}

.fases section {
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fases section img {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-45%);
}

.dica {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 401;
    border: solid black;
    border-radius: 10px;
    width: 300px;
    
}

canvas {
    border: solid black;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 400;
    background: white;
}

.feedbackCustom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 401;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border: solid black;
    width: 20%;
    padding: 10px;
    border-radius: 15px;
}

.teladerrota {
    position: absolute;
    z-index: 400;
    align-self: center;
    text-align: center;
    font-size: 70px;
    color: white;
    z-index: 401;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
}

.teladerrota button {
    width: 50px;
    height: 50px;
    border: solid black;
    background: #333;
    border-radius: 90px;
} 

.teladerrota button svg {
    width: 100%;
    height: 100%;
}

@keyframes unlocked {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.locked {
    filter:grayscale(5);
    user-select:none;
}

.unlocked {
  animation: unlocked 2s infinite ease-in-out;
  cursor: pointer;
}